.about-intro, .my-story {
  height: 760px;
  padding-left: 30px;
  background-image: url(../assets/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;


  img {
    width: 200px;
      border-radius: 38px;
      border: 2px solid #77bed23e;
      height: auto;
      margin-bottom: 20px;

      box-shadow: rgba(61, 61, 61, 0.2) 0px 8px 24px;
    }
    img:hover {
      transition-duration: 300ms;
      border: 2px solid #77bed2;
    }
    h4 {
      font-size: 24px;
    }

    p {
      width: 280px;

    }

    .about-picture-2 {
      display: none;
    }

}

.my-story {
  height: 1650px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;


  article {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;


    h3 {
      font-size: 25px;
      border-bottom: 1px solid white;
    }
  }
}



@media (min-width: 600px) and (max-width: 1100px) {
  .about-intro {
    flex-direction: row;
    gap: 5vw;
    padding-left: 0px;
    height: 60vh;
    justify-content: space-around;
    padding-top: 40px;

    .about-picture {
      display: none;
    }

    .about-picture-2 {
      display: block;
    }

    img {
      width: 350px;
    }

    p {
      width: 300px;
    }
  }

  .my-story {
    height: 1050px;

    article {
      width: 60vw;
    }

    p {
    width: 700px;
  }
  }
}



@media (min-width: 1100px) {
  .about-intro {
    flex-direction: row;
    gap: 13vw;
    height: 85vh;
    justify-content: space-around;
    padding-top: 40px;

    .about-picture {
      display: none;
    }

    .about-picture-2 {
      display: block;
    }

    img {
      width: 400px;
    }

    p {
      width: 500px;
    }
  }

  .my-story {
    height: 1200px;
    padding-left: 90px;

    article {
      width: 60vw;
    }

    p {
    width: 700px;
  }
  }


}

