.about-intro, .experience-section {
  height: 1000px;
  padding-left: 30px;
  background: var(--light--gradient);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 30px;
  gap: 50px;

  h1 {
    padding-bottom: 10px;
  }


    h4 {
      font-size: 24px;

    }

    p {
      width: 330px;


    }



}

.story-pictures {
      width: 200px;
      border-radius: 38px;
      border: 2px solid #77bed23e;
      height: auto;
      margin-bottom: 20px;
      box-shadow: rgba(61, 61, 61, 0.2) 0px 8px 24px;
      animation: fadeIn 5s;
    }
.story-pictures:hover {
      transition-duration: 300ms;
      border: 2px solid #77bed2;
}





@media (min-width: 600px) and (max-width: 1100px) {
  .about-intro {
    flex-direction: row;
    padding-left: 0px;
    height: 55vh;
    justify-content: space-evenly;
    padding-top: 120px;



    img {
      width: 350px;
    }

    p {
      width: 430px;
    }
  }


}


@media (min-width: 1100px) {
  .about-intro {
    flex-direction: row;
    height: 94vh;
    justify-content: space-evenly;
    padding-top: 140px;
    gap: 10px;
    padding-right: 50px;


    img {
      width: 350px;
    }

    p {
      width: 550px;
      margin-right: 200px;
    }
  }


}


.experience-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light--gradient);
  min-height: 100vh;
  padding: 100px 0;
  height: 2650px;

  h3 {
    background-image: linear-gradient(40deg, #0072ba, #77bfd2, #b3f2fb, #ffffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;

  }

  p {
    font-size: 15px;
    width: 270px;
  }



}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 90%;
  height: auto;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


.timeline-content {
  padding: 20px;
  background: rgb(20, 29, 46);
  border: 1px solid rgb(2, 42, 85);
  border-radius: 25px;
  color: white;
  padding: 30px 20px 50px 30px;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;


}


.timeline-1, .timeline-2, .timeline-3, .timeline-4 {
  display: none;
}

.timeline-animation {
  display: block;
  animation: slide-in 2s;
}

.timeline-animation-2 {
  display: block;
  animation: slide-in 6s;
}



.timeline-content:hover {
  border: 1px solid var(--accent);
}


.timeline-component {
  margin: 0px 10px 20px 20px;
}

@media screen and (min-width: 768px) {

  .experience-section {
    height: 3050px;


    h3 {
      font-size: 25px;
    }

    p {
      font-size: 17px;
      width: 350px;
    }
  }


  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }

  .timeline-content {
    padding: 30px 30px 50px 50px;

  }

  .timeline-middle {
    position: relative;
    background-image: linear-gradient(40deg, #0072ba, #206c9b, #668293, #84a4b7);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(40deg, #0072ba, #77bfd2, #b3f2fb, #ffffff);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}



@keyframes slide-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}


@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
