#projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  gap: 20px;
  text-align: center;
  background: var(--light--gradient);
}

.projects {
  display: grid;
  padding-top: 30px;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 40px;
}

.scroll-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;

  button {
    outline: none;
    border: none;
    background-color: transparent;
    border: 2px solid var(--primary--color);
    border-radius: 50%;
    padding: 5px 5px 2px 5px;
    font-size: 15px;
    transition: opacity 0.3s ease-in-out;

    img {
      opacity: 80%;
    }
  }
  button:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
}

@media (min-width: 600px) and (max-width: 1100px) {
  #projects-section {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 50px;
  }
}

.scroll-up {
  button {
    img {
      width: 25px;
    }
  }
}

@media (min-width: 1100px) {
  #projects-section {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 70px;
  }
}
