.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-image: url(../assets/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 50px;
}

.project-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;

  img {
    background-image: linear-gradient(to right, #02609a, #77bfd2);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .technologies {
    display: flex;
    gap: 20px;
    justify-content: center;

    p {
      background-image: linear-gradient(to right, #02609a, #77bfd2);
      padding: 8px;
      border-radius: 20px;
      font-size: 12px;
      margin-bottom: 20px;
    }

    p:hover {
      transform: scale(1.02);
    }
  }
}

.project-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  background-color: transparent;
}

.project-method {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  background-color: transparent;

  h2 {
    padding-left: 10px;
  }

  p {
    width: 330px;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .project-buttons {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

}

.video {
  iframe {
    width: 320px;
    height: 220px;
    border: 2px solid black;
    box-shadow: rgba(59, 59, 59, 0.35) 0px 5px 15px;
    background-color: #000000;
    padding: 5px;
    border-radius: 10px;
  }
  iframe:hover,
  iframe:active {
    transform: scale(1.02);
  }
}

@media (min-width: 600px) and (max-width: 1100px) {
  .project-container {
    align-items: flex-start;

  }
  h1 {
    font-size: 40px;
  }
  .project-top {
    align-items: flex-start;
    padding-top: 20px;

    img {
      width: 80vw;
    }
    .technologies {
      p {
        padding: 8px;
        font-size: 20px;
        width: 110px;
        text-align: center;

      }
    }
  }

  .project-method {

    p {
      padding-left: 0px;
      width: 700px;
    }
    h2 {
      padding-left: 0px;
    }

    .project-buttons {
      width: 500px;

    }
  }

  .video {
    padding-left: 20px;

    iframe {
      width: 700px;
      height: 450px;

    }
  }
}

@media (min-width: 1100px) {
  .project-container {
    align-items: flex-start;
    padding-left: 70px;
    gap: 10px;
    padding-bottom: 80px;

  }
  h1 {
    font-size: 50px;
  }

  .project-top {
    align-items: flex-start;
    padding-top: 20px;

    img {
      width: 70vw;
    }
    .technologies {
      p {
        padding: 8px;
        font-size: 20px;
        width: 110px;
        text-align: center;

      }
    }
  }

  .project-details {
    flex-direction: row;
    gap: 5vw;
  }

  .project-method {
    p {
      width: 500px;
    }

    .project-buttons {
      width: 300px;

    }
  }

  .video {
    margin-top: 60px;
    iframe {
      width: 650px;
      height: 400px;
    }
  }
}
