.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-image: url(../assets/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 50px;
}

.project-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;



  img {
    background-image: linear-gradient(to right, #02609a, #77BFD2);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .technologies {
    display: flex;
    gap: 20px;
    justify-content: center;


    p {
        background-image: linear-gradient(to right, #02609a, #77BFD2);
        padding: 8px;
        border-radius: 20px;
        font-size: 12px;
        margin-bottom: 20px;
      }

    p:hover {
      transform: scale(1.02);
    }
    }

}



.project-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: transparent;



  p {
    width: 330px;
    text-align: center;
    padding-bottom: 10px;
  }
  iframe {
    width: 350px;
    height: 220px;
    margin-top: 20px;
    border: 1px solid var(--primary--color);
    box-shadow: rgba(59, 59, 59, 0.35) 0px 5px 15px;
    background-color: #000000;
    padding: 5px;
    border-radius: 10px;
  }

  .project-buttons {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

  }
}
