.contact-container {
  background-image: url(../assets/Backgrund-Hero.png);
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.contact-top {
  p {
    text-align: center;
    width: 300px;
  }
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;



  input, textarea {
    width: 300px;
    padding: 20px;
    background-color:#151f3e;
    color: white;
    border-radius: 10px;
    border: 1px solid var(--primary--color);
    box-shadow: rgba(61, 61, 61, 0.2) 0px 8px 24px;
    font-size: 20px;
  }
  ::placeholder {
    color: rgb(234, 234, 234);
    opacity: 1;
    font-size: 20px;
  }

  textarea {
    min-height: 100px;
    max-width: 300px;
    min-width: 300px;
  }
  button {
    width: 250px;
    height: auto;
    font-size: 22px;
    margin-top: 20px;
  }
}