.footer-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 200px;

  small {
    color: var(--primary--color);
    font-weight: 700;
  }
}

.footer-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.logo-footer {
  img {
    width: 50px;
  }
  img:hover {
    transform: scale(1.02);
    cursor: pointer;
  }

  .desktop-logo {
    display: none;
  }
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  li {
    list-style: none;
    font-weight: 600;
    font-size: 16px;
  }
  Li:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
}

@media (min-width: 600px) and (max-width: 1100px) {
  .logo-footer {
    .desktop-logo {
      display: block;
      width: 250px;
    }
    .mobile-logo {
      display: none;
    }
  }
  .footer-container {
    height: 150px;
  }

  .footer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    gap: 30px;
  }

  .footer-links {
    gap: 50px;

    li {
      font-size: 20px;
    }
    li:hover {
      border-bottom: 2px solid var(--accent);
    }
  }

}

@media (min-width: 1100px) {
  .logo-footer {
    .desktop-logo {
      display: block;
      width: 300px;
    }
    .mobile-logo {
      display: none;
    }
  }
  .footer-container {
    height: 150px;
  }

  .footer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 88vw;
    gap: 30px;
  }

  .footer-links {
    gap: 50px;

    li {
      font-size: 23px;
    }
    li:hover {
      border-bottom: 2px solid var(--accent);
    }
  }

}
