.hero-container {
  background: var(--dark--gradient)
}


.hero {
  height: 1020px;
  padding-left: 30px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 13px;

  h1 {
    padding-bottom: 20px;
    font-size: 42px;

  }

  .hero-subtitle {
    font-size: 28px;
    font-weight: 700;

  }

  img {
    rotate: 2deg;
    border-radius: 38px;
    border: 2px solid #77bed23e;
    height: auto;
    margin-bottom: 20px;
    margin-left: 10px;
    box-shadow: rgba(61, 61, 61, 0.2) 0px 8px 24px;
  }

  img:hover {
    transform: rotate(-2deg);
    transition-duration: 300ms;
    border: 2px solid #77bed2;
  }

  p {
    width: 280px;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .info-buttons {
    display: flex;
    gap: 10px;
  }
}


.connect-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;


  .social-icons {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;

    img {
      border: 1px solid var(--primary--color);
      padding: 8px;
      width: 42px;
    }
    img:hover {
      cursor: pointer;
      transform: scale(1.03);
      box-shadow: #118edc21 0px 8px 24px;
      border: 1px solid var(--accent);
    }
  }
}

.image-tablet {
  display: none;
}


@media (min-width: 600px) and (max-width: 1100px) {
  .hero {
    height: 58vh;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 150px;
    padding-left: 20px;
    gap: 3vw;

    .hero-subtitle {
      font-size: 30px;
    }

    h1 {
      padding-bottom: 10px;
    }
  }

  .image-tablet {
    display: block;
    margin-top: 50px;
    margin-right: 30px;
    width: 380px;
  }
  .image-mobile {
    display: none;
  }
  .connect-section {
    flex-direction: column;
    gap: 25px;

  }
}


@media (min-width: 1100px) {
  .hero {
    height: 99vh;
    flex-direction: row;
    justify-content:space-around;
    padding-top: 140px;
    gap: 5vw;



    .hero-subtitle {
      font-size: 42px;
    }


    h1 {
      font-size: 55px;
    }
    h2 {
      font-size: 40px;
    }
    p {
      width: 500px;
      padding-top: 0px;
      padding-bottom: 20px;
      font-size: 28px;
    }
  }

  .image-tablet {
    display: block;
    margin-right: 20px;
    width: 470px;

  }
  .image-mobile {
    display: none;
  }
  .connect-section {
    flex-direction: row;
    gap: 12px;
  }
}

