.hero {
  height: 920px;
  padding-left: 30px;
  background-image: url(../assets/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;

  h1 {
    padding-bottom: 20px;

  }

  .hero-subtitle {
    font-size: 30px;
    font-weight: 700;
    font-family: nunito, sans-serif;
  }

  img {
    rotate: 2deg;
    border-radius: 38px;
    border: 2px solid #77bed23e;
    height: auto;
    margin-bottom: 20px;
    margin-left: 15px;
    box-shadow: rgba(61, 61, 61, 0.2) 0px 8px 24px;
  }

  img:hover {
    transform: rotate(-2deg);
    transition-duration: 300ms;
    border: 2px solid #77bed2;
  }

  p {
    width: 280px;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .info-buttons {
    display: flex;
    gap: 10px;
  }
}


.connect-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;


  .social-icons {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;

    img {
      border: 1px solid var(--primary--color);
      padding: 8px;
      width: 42px;
    }
    img:hover {
      cursor: pointer;
      transform: scale(1.03);
      box-shadow: #118edc21 0px 8px 24px;
      border: 1px solid var(--primary--color);
    }
  }
}

.image-tablet {
  display: none;
}


@media (min-width: 600px) and (max-width: 1100px) {
  .hero {
    height: 60vh;
    flex-direction: row;
    justify-content: space-around;
    height: 600px;
    padding-top: 80px;
    padding-left: 40px;

    .hero-subtitle {
      font-size: 30px;
    }

    h1 {
      padding-bottom: 10px;
    }
  }

  .image-tablet {
    display: block;
    margin-top: 50px;
    margin-right: 30px;
  }
  .image-mobile {
    display: none;
  }
  .connect-section {
    flex-direction: column;
    gap: 25px;

  }
}




@media (min-width: 1100px) {
  .hero {
    flex-direction: row;
    justify-content:space-around;
    height: 90vh;
    padding-top: 80px;

    .personal-info {
      padding-right: 110px;
    }

    .hero-subtitle {
      font-size: 50px;
    }


    h1 {
      font-size: 65px;
    }
    h2 {
      font-size: 40px;
    }
    p {
      width: 500px;
      padding-top: 0px;
      padding-bottom: 40px;
      font-size: 28px;
    }
  }



  .image-tablet {
    display: block;
    width: 550px;
  }
  .image-mobile {
    display: none;
  }
  .connect-section {
    flex-direction: row;
    gap: 12px;
    padding-right: 120px;
  }
}

