.hero {
  height: 50vh;
  padding-top: 20px;
  padding-left: 30px;
  background-image: url(../assets/Backgrund-Hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}