.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
  background-image: url(../assets/background-nav.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 100vw;
  height: 80px;

}

.logo {
  padding-left: 10px;
  padding-top: 8px;
}

.navbar-links {
  display: none;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 50px;

  .link {
    color: white;
    text-decoration: none;
  }
}

.social-links {
  display: none;
  gap: 20px;
  list-style: none;
  margin-right: 40px;
}

.social-links img:hover {
  transform: scale(1.05);
}

.menu {
  padding-right: 20px;
  padding-top: 8px;


  img:hover {
    transform: scale(1.05);
  }
}

.info-buttons {
  display: flex;
  gap: 10px;
}