.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  background-image: url(../assets/Background-Navbar.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  background-color: #0B0D11;
  height: 80px;
}

.navbar-links {
  display: none;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 50px;

  .link {
    color: white;
    text-decoration: none;
  }
}

.social-links {
  display: none;
  gap: 20px;
  list-style: none;
  margin-right: 40px;
}

.social-links img:hover {
  transform: scale(1.05);
}

.menu {
  padding-right: 20px;
  img:hover {
    transform: scale(1.05);
  }
}