.projectcard {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 15px;
  position: relative;
  margin: 0 auto;
  width: 310px;
  height: 300px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  p {
    display: none;
  }

  h4 {
    display: none;
  }

  a {
    display: none;
  }
}

.projectcard.bg-1 {
  background-image: url(../assets/legacy.png);
}
.projectcard.bg-2 {
  background-image: url(../assets/BookQuest.png);
}
.projectcard.bg-3 {
  background-image: url(../assets/ironhub.png);
}
.projectcard.bg-4 {
  background-image: url(../assets/mietis.png);
}
.projectcard.bg-5 {
  background-image: url(../assets/Solvware.png);
}
.projectcard.bg-6 {
  background-image: url(../assets/houseintuscany.png);
}
.projectcard.bg-7 {
  background-image: url(../assets/BucketListPosters.png);
}

.projectcard:hover,
.projectcard:active {
  cursor: pointer;
  transition-duration: 300ms;
  color: white;
  height: 295px;

  .project-info {
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 10px;
    background-color: var(--primary--color);
    width: 310px;
    text-align: left;
    padding: 5px 0px 5px 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;

    p {
      display: block;
    }

    h4 {
      display: block;
    }
    a {
      display: block;
      rotate: 10deg;
      animation: roll-forwards 200ms;

      img {
        width: 30px;
      }
    }
  }
}

@media (min-width: 650px) and (max-width: 1100px) {
  .projectcard {
    width: 400px;
    height: 350px;
  }

  .projectcard:hover,
  .projectcard:active {
    width: 400px;
    height: 350px;

     .project-info {
      gap: 10px;
      background-color: var(--primary--color);
      width: 400px;
      padding-left: 20px;
      margin-bottom: 15px;

      p {
        display: block;
      }

      h4 {
        display: block;
      }
      button {
        display: block;
      }
    }
  }
}

@media (min-width: 1100px) {
  .projectcard {
    width: 550px;
    height: 480px;
  }

  .projectcard:hover,
  .projectcard:active {
    width: 550px;
    height: 480px;


    .project-info {
      gap: 10px;
      background-color: var(--primary--color);
      width: 400px;
      padding-left: 20px;
      margin-bottom: 15px;

      p {
        display: block;
      }

      h4 {
        display: block;
      }
      button {
        display: block;
      }
    }
  }

}

@keyframes roll-forwards {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(80deg);
  }
}
