.projectcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
  padding: 35px;
  margin: 0 auto;
  width: 310px;
  height: 300px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  p {
    display: none;
  }

  h3 {
    display: none;
  }

  img {
    margin: 0 auto;
    height: auto;
    width: 300px;
    animation-name: kenburns-top;
    animation-duration: 4s;
    border-radius: 10px;
    border: 2px solid rgb(202, 202, 202);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  img:hover {
    animation-play-state: running;
  }
  button {
    display: none;
  }

}

.projectcard.bg-1 {
  background-image: url(../assets/legacy.png);
}
/* .projectcard.bg-2 {
  background-image: url(../assets/backgroundcard2.png);
} */
.projectcard.bg-3 {
  background-image: url(../assets/ironhub.png);
}
.projectcard.bg-4 {
  background-image: url(../assets/mietis.png);
}


.projectcard:hover, .projectcard:active {
  cursor: pointer;
  transition-duration: 300ms;
  border: 1px solid grey;
  color: white;
  height: 280px;


  p {
    display: block;
    text-align: center;
  }

  h3 {
    display: block;
  }
  button {
    display: block;
  }

  img {
    display: none;
  }

  background-image: none;
}













