.skills {
  background: var(--dark--gradient);
  height: 1450px;
}

.skills-top {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  p {
    text-align: center;
    width: 300px;
  }
}

.all-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  p {
    color: var(--accent);
    font-weight: 600;
  }
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #172026;
  padding: 35px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  filter: grayscale(30%);

  img {
    width: 80px;
  }
}

.skill-card:hover,
.skill-card:active {
  filter: none;
  background-color: #1c262d;
  transition: 300ms all ease;

  img {
    transform: scale(1.05);
    filter: contrast(200%);
  }
}

@media (min-width: 600px) and (max-width: 1100px) {
  .skills-top {
    padding-top: 50px;
    padding-bottom: 50px;

    p {
      width: 500px;
    }
  }

  .all-skills {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .skills {
    background-size: cover;
    background-position: left top;
    height: 950px;
  }
}

@media (min-width: 1100px) {
  .skills-top {
    padding-top: 20px;

    p {
      width: 700px;
    }
  }

  .all-skills {
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .skills {
    height: 900px;
    background-size: cover;
    background-position: left top;
    padding-bottom: 75px;
    padding-top: 75px;
  }
}
