@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-style: normal;
  line-height: 1.5;
  background-color: #0B0B0B;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;

  --primary--color: #1B00AF;
  --secondary-color: #3C3D62;
  --accent: #77BFD2;
  --background : #0B0B0B;
}
