@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-style: normal;
  line-height: 1.5;
  background-color: #0c0d10;

  color: white;

  --primary--color: #02609a;
  --secondary-color: #fdffff;
  --accent: #77bfd2;
}

h1 {
  font-size: 32px;
  background-image: linear-gradient(45deg, #02609a, #77bfd2, #fdffff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

a {
  text-decoration: none;
  width: 40px;
  color: white;
  font-size: 18px;
}

p {
  font-size: 18px;
}

.primary-button {
  background-image: linear-gradient(to right, #02609a, #77bfd2);
  border-radius: 20px;
  width: 135px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  height: auto;
  padding: 10px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
}

.primary-button:hover {
  background-image: linear-gradient(to right, #77bfd2, #02609a);
  transition-duration: 300ms;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

.secondary-button {
  border: 1px solid #02609a;
  background-color: transparent;
  color: #02609a;
  padding: 10px;
  border-radius: 20px;
  width: 130px;
  text-align: center;
  height: auto;
  text-align: center;
}

.secondary-button:hover {
  cursor: pointer;
  transform: scale(1.02);
  border: 1px solid #0978bd;
  box-shadow: #118edc21 0px 8px 24px;
}

.github-button {
  cursor: pointer;
  border: none;
  width: 140px;
  transition: 300ms ease;
  border-radius: 20px;
  font-weight: 800;
  place-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 43px;

  padding: 10px;

  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);

  .icon {
    color: white;
  }
}

.github-button:hover {
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
    inset 0 0 0 1px rgba(252, 232, 3, 0.08);
  background-color: rgba(0, 0, 0, 0.5);

  a {
    color: #0978bd;
  }
  .icon {
    color: #0978bd;
  }
}

@media (min-width: 650px) and (max-width: 1023px) {

  p {
    font-size: 20px;
  }


  h1 {
    font-size: 33px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  p {
    font-size: 20px;
  }
}
